<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weather</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
  <nav class="row" style="background: green; color: white;">
    <h1 class="col-md-3 text-center">weather</h1>
  </nav>
  <br />
  <br />
  <center class="row">
    <form method="post" class="col-md-6 col-md-offset-3">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
        <form>
  </center>
  <div class="container">
    <div class="rows">
        <div class="column is-offset-4 is-4">
            {% for weather in weather_data %}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-50x50">
                            <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <span class="title">{{ weather.city }}</span>
                                <br>
                                <span class="subtitle">{{ weather.temperature }}° F</span>
                                <br><h4>Humidity: {{weather.humidity}}</h4>
                                <br><h4>Pressure: {{weather.pressure}}</h4>
                                <br><h4>Country: {{weather.country}}</h4>
                                <br><h4>Sunrise: {{weather.sunrise}}</h4>
                                <br><h4>Sunset: {{weather.sunset}}</h4>
                                <br><h4>Wind Speed: {{weather.windspeed}}</h4>
                                <br> {{ weather.description }}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

</body>

</html>